:root {
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-primary-400: hsla(197, 71%, 12%, 1);
    --clr-accent-400: hsla(338, 100%, 50%, 1);
    --clr-secondary-400: hsla(198, 100%, 88%, 1);
    --clr-secondary-450: hsla(198, 100%, 88%, 0.5);

    --fltr-neutral: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(108%) contrast(102%);
    --fltr-primary: brightness(0) saturate(100%) invert(12%) sepia(51%) saturate(727%) hue-rotate(151deg) brightness(92%) contrast(97%);
    --fltr-secondary: brightness(0) saturate(100%) invert(98%) sepia(83%) saturate(7405%) hue-rotate(172deg) brightness(103%) contrast(104%);

    --ff-base: 'Orbitron', sans-serif;
    --ff-alt: 'Kaushan Script', cursive;
    
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 4rem;
    --fs-800: 4.75rem;

    --shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    color-scheme: light;
}

body {
    color: var(--clr-primary-400);
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    overflow-x: hidden;
}

/* Custom styles */

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--clr-secondary-400);
    position: relative;
}

.hero__text {
    padding: 3.125rem 6.25rem;
    flex: 1 1 auto;
}

@media (width < 64rem) {
    .hero__text {
        padding: 3.125rem;
        text-align: center;
    }
}

.hero__text .logo {
    display: inline-block;
    width: 5rem;
    aspect-ratio: 1;
    filter: var(--fltr-primary);
}

.hero__text .title {
    margin: 3rem 0;
    font-size: var(--fs-800);
    line-height: 1.25;
}

.hero__text .subtitle {
    margin: 3rem 0;
    font-size: var(--fs-600);
}

.hero__text .subtitle-highlight {
    color: var(--clr-accent-400);
    text-decoration: underline;
    white-space: nowrap;
}

.hero__text .subtitle-highlight:hover {
    cursor: help;
}

.hero__text .cta {
    display: inline-block;
    padding: 0.5em 3em;
    font-family: var(--ff-alt);
    font-size: var(--fs-600);
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-400);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

@media (width < 64rem) {    
    .hero__img {
        display: none;
    }
}

.hero__img .img {
    width: 45rem;
    margin-left: 50%;
    border-radius: 50%;
    transform: scale(2);
    filter: hue-rotate(10deg) saturate(80%);

}

.toggle {
    width: 500px;
    aspect-ratio: 1;
}


.teasers {    
    margin-top: 10rem;
    padding: 0 6.25rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 4rem;
    background-color: var(--clr-secondary-400);
}

@media (width < 64rem) {    
    .teasers {
        padding: 0 3.125rem;
        flex-direction: column;
        align-items: center;
    }
}

.teaser {
    padding: 5em 3em;
    max-width: 25em;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    background-color: var(--clr-primary-400);
    border-radius: 10px;
    transform: translateY(-10rem);
    box-shadow: var(--shadow);
}

.teaser__img {
    filter: var(--fltr-neutral);
    max-width: 10rem;
}

.teaser__txt {
    flex-grow: 1;
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    text-align: center;
}



.footer {
    padding: 0.5em;
    font-family: var(--ff-alt);
    font-size: var(--fs-600);
    color: var(--clr-neutral-100);
    text-align: center;
    background-color: var(--clr-accent-400);
}

.footer-highlight {
    color: var(--clr-neutral-100);
}