:root {
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-primary-400: hsla(197, 71%, 12%, 1);
    --clr-accent-400: hsla(338, 100%, 50%, 1);
    --clr-secondary-400: hsla(198, 100%, 88%, 1);
    --clr-secondary-450: hsla(198, 100%, 88%, 0.5);

    --fltr-neutral: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(109deg) brightness(108%) contrast(102%);
    --fltr-primary: brightness(0) saturate(100%) invert(12%) sepia(51%) saturate(727%) hue-rotate(151deg) brightness(92%) contrast(97%);
    --fltr-secondary: brightness(0) saturate(100%) invert(98%) sepia(83%) saturate(7405%) hue-rotate(172deg) brightness(103%) contrast(104%);

    --ff-base: 'Orbitron', sans-serif;
    --ff-alt: 'Kaushan Script', cursive;
    
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-650: 3.5rem;
    --fs-700: 4rem;
    --fs-800: 4.75rem;

    --shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
    --inset: inset 0 4px 4px 0 hsla(0, 0%, 0%, 0.25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    color-scheme: light;
}

body {
    color: var(--clr-primary-400);
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.5;
    overflow-x: hidden;
}

/* Custom styles */

.hero {
    height: max(calc(100vh - 10rem), 45rem);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--clr-secondary-400);
    overflow-x: clip;
}

.hero__text {
    padding: 3.125rem 6.25rem;
    flex: 1 1 auto;
}

@media (width < 64rem) {
    .hero__text {
        padding: 3.125rem;
        text-align: center;
    }
}

.hero__text .logo {
    display: inline-block;
    width: 5rem;
    aspect-ratio: 1;
    filter: var(--fltr-primary);
}

.hero__text .title {
    margin: 3rem 0;
    font-size: var(--fs-800);
    line-height: 1.25;
}

@media (width < 64rem) {
    .hero__text .title {
        font-size: var(--fs-650);
    }
}

.hero__text .subtitle {
    margin: 3rem 0;
    font-size: var(--fs-600);
}

@media (width < 64rem) {
    .hero__text .subtitle {
        font-size: var(--fs-500);
    }
}

.hero__text .subtitle-highlight {
    color: var(--clr-accent-400);
    text-decoration: underline;
    white-space: nowrap;
}

.hero__text .subtitle-highlight:hover {
    cursor: help;
}

.hero__text .cta {
    display: inline-block;
    padding: 0.5em 3em;
    font-family: var(--ff-alt);
    font-size: var(--fs-600);
    text-decoration: none;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-400);
    border-radius: 10px;
    box-shadow: var(--shadow);
    white-space: nowrap;
}

@media (width < 64rem) {
    .hero__text .cta {
        font-size: var(--fs-500);
    }
}

@media (width < 64rem) {    
    .hero__img {
        display: none;
    }
}

.hero__img .img {
    width: 50rem;
    border-radius: 50%;
    transform: scale(1.5) translateX(10%);
    filter: hue-rotate(10deg) saturate(80%);

}

.ribbon {
    height: 30rem;
    padding: 3.125rem 6.25rem;
}

@media (width < 64rem) {    
    .ribbon {
        height: 10rem;
    }
}

.teasers {    
    margin-top: 10rem;
    padding: 0 6.25rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 4rem;
    background-color: var(--clr-secondary-400);
}

@media (width < 64rem) {    
    .teasers {
        padding: 0 3.125rem;
        flex-direction: column;
        align-items: center;
    }
}

.teaser {
    padding: 5em 3em;
    max-width: 25em;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    background-color: var(--clr-primary-400);
    border-radius: 10px;
    transform: translateY(-10rem);
    box-shadow: var(--shadow);
}

.teaser__img {
    filter: var(--fltr-neutral);
    max-width: 10rem;
}

.teaser__txt {
    flex-grow: 1;
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    text-align: center;
}



.footer {
    padding: 0.5em;
    font-family: var(--ff-alt);
    font-size: var(--fs-600);
    color: var(--clr-neutral-100);
    text-align: center;
    background-color: var(--clr-accent-400);
}

.footer-highlight {
    color: var(--clr-neutral-100);
    white-space: nowrap;
}




.contact {
    min-height: 100vh;
    background-color: var(--clr-secondary-400);
    margin-left: 30rem;
    padding-top: 5rem;
}

@media (width < 64rem) {
    .contact {
        margin-left: 0;
        margin-top: 30rem;
    }  
}

.contact__form {
    position: absolute;
    top: 3rem;
    left: 10rem;
    right: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-accent-400);
    border-radius: 10px;
    font-family: var(--ff-alt);
    color: var(--clr-neutral-100);
    gap: 1rem
}

@media (width < 64rem) {
    .contact__form {
        left: 3rem;
        right: 3rem;
    }    
}

.form-details {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (width < 64rem) {
    .form-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }   
}

.form-title {
    font-size: var(--fs-700);
    margin-bottom: 3rem;
}

@media (width < 64rem) {
    .form-title {
        font-size: var(--fs-600);
        margin-bottom: 0;
    }
}

.form-subtitle {
    font-size: var(--fs-600);
    text-align: end;
}

@media (width < 64rem) {
    .form-subtitle {
        font-size: var(--fs-500);
        text-align: center;
    }
}

.form-highlight {
    color: var(--clr-neutral-100);
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.contact__form input,
.contact__form textarea {
    padding: 0.25em 1em;
    font-size: var(--fs-600);
    border-radius: 10px;
    border: 0;
    box-shadow: var(--inset);
}

@media (width < 64rem) {
    .contact__form input,
    .contact__form textarea {
        font-size: var(--fs-500);
    }
}

.contact__form input {
    width: 50%;
}

@media (width < 64rem) {
    .contact__form input {
        width: 100%;
    }
}

.contact__form textarea {
    width: 100%;
    resize: vertical;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    font-family: var(--ff-base);
}

.contact__form .form-submit {
    padding: 0.25em 2em;
    place-self: end;
    font-family: var(--ff-alt);
    font-size: var(--fs-600);
    border-radius: 10px;
    border: 0;
    box-shadow: var(--shadow);
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    cursor: pointer;
}

@media (width < 64rem) {
    .contact__form .form-submit {
        font-size: var(--fs-500);
        width: 100%;
    }
}


.contact__logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: inline-block;
    width: 5rem;
    aspect-ratio: 1;
    filter: var(--fltr-primary);
}